@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.wrapper {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1920px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}